@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.type-animation::after {
  content: "|";
  animation: blink 1s infinite;
}
